<div class="home-intro">
    <!-- <div class="jumbo">{{site.heading}} </div> -->
    <div class="home-sub-text">
        <h3>
            Hi, my name is Jessie Pastan.
        </h3>
        <p>
            An experienced software QA engineer who has a passion for delivering high-quality products. Knowledgeable about both mobile and web application-based testing.

            Hands-on experience in performing different types of testing such as functional testing, UI testing, Adhoc testing, sanity testing, regression testing, and release testing.
        </p>
        <p>
            Check out my <a href="{{'/blogs' | relative_url}}"> blogs</a>.
        </p>
        </h3>
</div> </div>

