<div class="home-intro">
    <!-- <div class="jumbo">{{site.heading}} </div> -->
    <div class="home-sub-text">
        <h3>
            Hi, my name is Jessie Pastan.
        </h3>
        <p>
            Hi! I am an experienced software QA engineer who is passionated in delivering a high quality of product.
            I have a knowledge in both mobile and web application-based testing.
            I also have a hands-on experience on performing the different types of testing, such as, functional testing, UI testing, Adhoc testing, sanity testing, regression testing, and release testing.
        </p>
        <p>
            Check out my <a href="{{'/blogs' | relative_url}}"> blogs</a>.
        </p>
        </h3>
</div> </div>

